[project]
	description = persistent, transactional in-memory database
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = "group user/Roman  Tsisyk (rtsisyk)"
[access "refs/for/refs/*"]
	read = "group user/Roman  Tsisyk (rtsisyk)"
	push = "group user/Roman  Tsisyk (rtsisyk)"
	label-Code-Review = "-2..+2 group user/Roman  Tsisyk (rtsisyk)"
	label-Verified = "-1..+1 group user/Roman  Tsisyk (rtsisyk)"
	rebase = "group user/Roman  Tsisyk (rtsisyk)"
	removeReviewer = "group user/Roman  Tsisyk (rtsisyk)"
	submit = "group user/Roman  Tsisyk (rtsisyk)"
[access "refs/heads/*"]
	read = "group user/Roman  Tsisyk (rtsisyk)"
	create = "group user/Roman  Tsisyk (rtsisyk)"
	push = "+force group user/Roman  Tsisyk (rtsisyk)"
	pushMerge = "group user/Roman  Tsisyk (rtsisyk)"
[access "refs/tags/*"]
	push = "group user/Roman  Tsisyk (rtsisyk)"
	push = "+force group user/Roman  Tsisyk (rtsisyk)"
